.journal__main--content {
  display: flex;
}

.journal__sidebar {
  background-color: $dark-grey;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  width: 450px;
}

.journal__sidebar--navbar {
  display: flex;
  justify-content: space-between;
}

.journal__sidebar--navbar h3 {
  font-weight: lighter;
}

.journal__new-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 30px;
  width: 100%;
  transition: color 0.3s ease;

  &:hover {
    color: darken($color: $white, $amount: 20);
  }
}

.journal__entries {
  flex: 1 1 auto;
  margin-top: 30px;
  overflow-y: auto;
}

.journal__entry {
  display: flex;
  overflow: hidden;
  background-color: $white;
  border-radius: 4px;
  margin-bottom: 10px;
  color: $dark-grey;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s all ease-in-out;

  &:hover {
    background-color: lighten($color: $primary, $amount: 10);
    transition: 0.3s all ease;
  }
}

.journal__entry-picture {
  width: 75px;
  height: 75px;
}

.journal__entry-body {
  padding: 10px;
}

.journal__entry-title {
  font-size: 14px;
  font-weight: bold;
}

.journal__entry-content {
  font-size: 10px;
}

.journal__entry-date-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.journal__entry-date-box span {
  font-size: 12px;
}

@media (max-width: 768px) {
  .journal__main--content {
    display: flex;
    flex-direction: column;
  }

  .journal__sidebar {
    width: 100%;
  }
}
